
<div class="container">
    <!-- <h1>YEONWOOLANDER</h1>

    <p>Good day! My name is <b><i>{{name}}</i></b> and I want to live in <b><i>{{address}}</i></b></p>
    <hr>
    
    <div class="row">
        <app-list></app-list>
    </div>
     -->
     <!-- <p>{{random | yeonwoo}}</p> -->
    <!-- <ul>
            
        <li style="list-style-type: none;">
            <gago></gago>gago 
            </li>
            <li style="list-style-type: none;">
                    <gago></gago>gago
                    </li>
                    <li style="list-style-type: none;">
                            <gago></gago>gago
                            </li>
</ul> -->
<!-- <gago></gago>
<app-rating [name]="name" [rating]='rating'></app-rating>
<app-rating [name]="name2" [rating]='rating'></app-rating>
<app-rating [name]="name" [rating]='rating'></app-rating> -->

<!-- <p>{{random | gago}}</p>
<p>{{peste | bali}}</p>
<p>{{peste | custom}}</p>
{{gago}}
<litse [max]="max" [min]="min" ></litse>
<br>
<br> -->
<!-- <app-avatar [name]="name"></app-avatar> -->
<!-- <leedabin [max]="max" [min]="min" [solid]="true" (rndm)="onChange($event)"></leedabin> -->

<!-- <li *ngFor="let items of items | reverse"> -->
    <!-- <app-merch></app-merch> -->
    <app-users></app-users>
</div>


